* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #034159;
}

header {
    width: 960px;
    height: 100px;
    margin-top: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header h1 {
    color: #ffff;
    align-self: center;
    margin-top: 15px;
    text-decoration: solid;
}

header nav ul{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

header nav ul li a{
    color: #0CF25D;
    font-size: 15pt;
}

header nav ul li a:hover {
    color: white;
    text-shadow: 2px 2px black;
}

main {
    width: 960px;
    height: 1550px;
    margin-top: 20px;
    border-radius: 5px;
    display: grid;
}

#cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 300px;
    margin: 0 auto;
}

.info {
    display: flex;
    justify-content: space-between;
}

.s1 {
    width: 450px;
    height: 700px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s2 {
    width: 920px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h2 {
    color: white;
    text-align: center;
    margin-top: 25px;
}

p {
    color: white;
    text-align: justify;
    margin: 10px 10px 10px 10px;
}

#imagem {
    height: 200px;
}

#imagem2 {
    height: 290px;
    width: 500px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
figure figcaption {
    color: #fff;
}

figure figcaption a {
    color: white;
    font-weight: bolder;
    font-style: italic;
}

footer {
    width: 960px;
    height: 80px;
    display: grid;
    place-items: center;
}

.cont_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes_sociais {
    color: white;
    font-size: 20px;
    transition: color 0.3s;
}

.redes_sociais a {
    color: white;
}

.redes_sociais a:hover {
    color: rgb(0, 0, 0)
}

/* Inicio do formulário de contato */

#main_contato {
    width: 900px;
    height: 700px;
    margin-top: 20px;
    border: 2px solid #025f4e;
    border-radius: 5px;
    display: grid;
    background-color: #02735E;
}


#conteudo_formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 300px;
    margin: 0 auto;
}

#contato {
    float: right;
    width: 740px;
    height: 750px;
}

#formulario {
    width: 720px;
    height: 560px;
}

fieldset {
    border: 4px solid #babaca;
    border-radius: 5px;
    box-shadow: 3px 2px 2px black;
    margin: 15px;
    background-color: #025951;
}

legend {
    color:#fff;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    padding: 0 10px 0 10px ;
    text-shadow: 2px 3px 3px #111;
}

label {
    color: #fff;
    font-weight: bolder;
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 50px;
}

input {
    border-bottom: 2px solid #000;
    outline: none;
    border-radius: 4px;
    width: 350px;
    height: 30px;
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    margin-right: 180px;
    margin-top: 10px;
    transition: width .35s ease-in-out;
}

input:focus{
    width: 360px;
}

input:hover {
    background-color: rgba(241, 241, 241, 0.6);
    border-radius: 4px;
}

select {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-radius: 5px;
    outline: none;
    width: 200px;
    height: 30px;
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    margin-right: 330px;
    margin-top: 10px;
}

textarea {
    border: 2px solid #000;
    border-radius: 4px;
    width: 350px;
    height: 160px;
    resize: none;
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    margin-right: 180px;
    margin-top: 10px;
}

#btn {
    width: 300px;
    height: 0;
    border: none;
    float: none;
    margin-left: 200px;
}

input[type=submit] {
    float: left;
    width: 90px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: rgb(58, 201, 58);
    color: #FFF;
    font-weight: bolder;
    box-shadow: 3px 3px 4px rgba(10, 10, 10, 0.7);
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(20, 124, 20);
}

input[type=reset] {
    float: left;
    width: 90px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: rgb(201, 137, 58);
    color: #FFF;
    font-weight: bolder;
    box-shadow: 3px 3px 4px rgba(10, 10, 10, 0.7);
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: rgb(141, 93, 33);
}

/* Inicio página sobre */

#main_sobre {
    width: 960px;
    height: 800px;
    margin-top: 20px;
    border-radius: 5px;
    display: grid;
}